.header {
    display: block;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
}
.header > h1 {
    font-size: 4rem;
    padding: 2rem 0rem;
}



.API {
    background-color: var(---color3);
}



.tweets {
    display: block;
}



.contenido > div {
    padding: 2rem;
}
.contenido > .content {
    background-color: var(---color4);
    margin: 2rem 1rem;
}
.contenido > .content > h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    padding: 1rem 0rem;
}
.content > h3 {
    text-align: center;
}